
	.nav {
		font-family: arial, serif;
		height: 30px;
		margin: 0;
		background-color: white;
		font-weight: bolder;
		list-style: none;
		text-align: center;
		padding: 30px  20px;
}
.nav > li {
	display: inline-block;
}
	.nav > li > a {
		text-decoration: none;
		color: black;
	}
	.nav > li > a:hover {
		color: #F7A736;
	}

body {
	margin: 0;
	padding: 0;
	background-image: url("http://kylethacker.com/img/background-large.jpg");
	background-size: cover;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 1000px;
}
	#intro {
		text-align: center;
		color: white;
		font-size: 27.3px;
		font-weight: normal;
		letter-spacing: 2.73;
		line-height: 34px;
		margin-top: 200px;
		margin-left: 600px;
		margin-right: 330px;
		margin-bottom: 0px;
		max-width: 600px;

	}

	
	h5 {
		color: white;
		background-color: rgb(230, 175, 97);
		position: absolute;
		left: 850px;
		padding: 10px;
		width: 45px;
		-webkit-border-radius:5px;
		letter-spacing: 2px;
}

h5:hover {
	color: white;
	background-color: #4e4e32;
	transition-duration: 0.2s;
}
	.img1 {
		background-color: rgb(230, 175, 97);
		-webkit-border-radius:5px 5px 5px 5px;
		padding: 15px;
		position: absolute;
		left: 435px;
		top: 775px;
		padding-top: 43px;
		padding-left: 115px;
		padding-right: 100px; 
	}
	.img1:hover {
		color: white;
		background-color: gray;
		transition-duration: 0.2s;

	}
