
	.nav {
		font-family: arial, serif;
		height: 30px;
		margin: 0;
		background-color: white;
		font-weight: bolder;
		list-style: none;
		text-align: center;
		padding: 30px  20px;

}
.nav > li {
	display: inline-block;
}
	.nav > li > a {
		text-decoration: none;
		color: black;
	}
	.nav > li > a:hover {
		color: #F7A736;
		transition-duration: 0.2s;
	}
	.more {
		position: absolute;
		left: 875px;

	}

body {
	
}
	.pictures-intro {
		background-image: url("http://kylethacker.com/img/background-large.jpg");
    	position:absolute;
    	width:100%;
    	height:2175px;
    	left:0px;
    	background-attachment: scroll;
    	background-repeat: no-repeat;
	}
	#intro {
		text-align: center;
		color: white;
		font-size: 27.3px;
		font-weight: normal;
		letter-spacing: 2.73;
		line-height: 34px;
		margin-top: 200px;
		margin-left: 600px;
		margin-right: 330px;
		margin-bottom: 0px;
		max-width: 600px;
	}

	
	h5 {
		color: white;
		background-color: rgb(230, 175, 97);
		position: absolute;
		left: 850px;
		padding: 10px;
		width: 45px;
		-webkit-border-radius:5px;
		letter-spacing: 2px;
}

	h5:hover {
	color: white;
	background-color: #4e4e32;
	transition-duration: 0.2s;
}
	h3 {
		font-family: arial;
		font-size: 20px;
		font-weight: normal;
		color: white;
		position: absolute;
		left: 525px;
		top: 945px;
	}
	h3:hover
		{
			color: gray;
			transition-duration: 0.2s;
		}
	.img1 {
		background-color: rgb(230, 175, 97);
		-webkit-border-radius:5px 5px 5px 5px;
		padding: 15px;
		position: absolute;
		left: 435px;
		top: 675px;
		padding-top: 38px;
		padding-left: 115px;
		padding-right: 100px; 
	}
	.img1:hover {
		color: white;
		background-color: gray;
		transition-duration: 0.2s;
	}
	.img1h3 {
		position: absolute;
		left: 535px;
		top: 847px;
		color: white;
	}
	.img2 {
		background-color: rgb(230, 175, 97);
		-webkit-border-radius:5px 5px 5px 5px;
		padding: 15px;
		position: absolute;
		left: 772px;
		top: 675px;
		padding-top: 43px;
		padding-left: 120px;
		padding-right: 110px;
	}
	.img2:hover {
		color: white;
		background-color: gray;
		transition-duration: 0.2s;
	}
	.img2h3 {
		position: absolute;
		left: 867px;
		top: 847px;
		color: white;
	}
	.img3 {
		background-color: rgb(230, 175, 97);
		-webkit-border-radius:5px 5px 5px 5px;
		padding: 15px;
		position: absolute;
		left: 1107px;
		top: 675px;
		padding-top: 53px;
		padding-left: 50px;
		padding-right: 112px;
	}
	.img3:hover {
		color: white;
		background-color: gray;
		transition-duration: 0.2s;
	}
	.img3h3{
		position: absolute;
		left: 1200px;	
		top: 847px;
		color: white;
	}
	.img4 {
		background-color: rgb(230, 175, 97);
		-webkit-border-radius:5px 5px 5px 5px;
		padding: 15px;
		position: absolute;
		left: 435px;
		top: 925px;
		padding-top: 23px;
		padding-left: 115px;
		padding-right: 140px;
	}
	.img4:hover {
		color: white;
		background-color: gray;
		transition-duration: 0.2s;
	}
	.img4h3{
		position: absolute;
		left: 470px;
		top: 1100px;
		color: white;
	}
	.img5 {
		background-color: rgb(230, 175, 97);
		-webkit-border-radius:5px 5px 5px 5px;
		padding: 15px;
		position: absolute;
		left: 772px;
		top: 925px;
		padding-top: 52px;
		padding-left: 80px;
		padding-right: 80px
	}
	.img5:hover {
		color: white;
		background-color: gray;
		transition-duration: 0.2s;
	}
	.img5h3 {
		position: absolute;
		left: 870px;
		top: 1100px;
		color: white;
	}
	.img6 {
		background-color: rgb(230, 175, 97);
		-webkit-border-radius:5px 5px 5px 5px;
		padding: 15px;
		position: absolute;
		left: 1100px;
		top: 925px;
		padding-top: 95px;
		padding-left: 115px;
		padding-right: 150px;
	}
	.img6:hover {
		color: white;
		background-color: gray;
		transition-duration: 0.2s;
	}
	.img6h3{
		position: absolute;
		left: 1200px;
		top: 1100px;
		color: white;
	}
	.p1 {
		position: absolute;
		top: 1500px;
		left: 435px;
		font-size: 25px;
		font-weight: 150px;
		letter-spacing: 2.73;
		line-height: 34px;
		height: 102px;
		width: 985px;
	}
	.p2 {
		position: absolute;
		top: 1680px;
		left: 435px;
		font-size: 16.7px;
		font-weight: 150px;
		letter-spacing: 2.73;
		line-height: 26px;
		height: 102px;
		width: 490px;
	}
	.p3 {
		position: absolute;
		top: 1835px;
		left: 435px;
		font-size: 15.4px;
		font-weight: 150px;
		letter-spacing: 2.73;
		line-height: 26px;
		height: 102px;
		width: 490px;
	}
	.p4 {
		position: absolute;
		top: 2040px;
		left: 435px;
		font-size: 15.4px;
		font-weight: 150px;
		letter-spacing: 2.73;
		line-height: 26px;
		height: 102px;
		width: 490px;
	}

	#div {
		width: 1px;
		height: 476px;
		background-color: #d6d6d6;
		position: absolute;
		top: 1689px;
		left: 1010px;
	}
	.p5 {
		position: absolute;
		top: 1680px;
		left: 1060px;
		height: 104px;
		width: 315px;
		font-size: 21.5px;
		line-height: 26px;
	}

	.p6 {
		position: absolute;
		top: 1800px;
		left: 1060px;
		height: 104px;
		width: 315px;
		font-size: 21.5px;
		line-height: 26px;
	}
	.p7 {
		position: absolute;
		top: 1870px;
		left: 1060px;
		height: 104px;
		width: 315px;
		font-size: 21.5px;
		line-height: 26px;
	}
	
	#Resume {
		position: absolute;
		top: 1870px;
		left: 1060px;
	}
	#Resume:hover {
		color: black;
		background-color: gray;
		transition-duration: 0.2s;
	}